
<div class="bar-chart-container">
  <!-- Bar Chart Component Template -->
  @if(data() && data().length > 0) {
    <div class="chart-grid">
      <div class="y-axis-labels-container">
        @for (label of yAxisLabels(); track label) {
          <span class="y-axis-label-item">{{ label }}</span>
        }
      </div>
      <div class="chart-and-x-axis">
        <div class="chart">
          @for(item of data(); track item.name) {
            <div class="bar-column">
              <div class="bar" [style.height]="getBarHeight(item.value)" [style.background-color]="getBarColor(item.name)" [title]="item.name + ': ' + item.value"></div>
            </div>
          }
        </div>
        <div class="x-axis-labels">
          @for(item of data(); track item.name) {
            <span class="x-axis-label">{{ item.name }}</span>
          }
        </div>
      </div>
    </div>
  } @else {
    <div class="no-data">
      <p>No data available to display the chart.</p>
    </div>

    }
  
